@import url("https://fonts.googleapis.com/css?family=Lora&effect=fire-animation");
html{
    background-color: black;
}
body{
    padding: 4%;
    font-size: 1.2rem;
    font-family: Lora;
}
button{
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    font: inherit;
    background-color: black;
    border: 2px solid blue;
    outline: 3px double blue;
    outline-offset: 0.05rem;
}

p{
    text-decoration: none;
    text-transform:none;
    text-align:start;
    text-indent: 2em;
    line-height: 1.45;
    letter-spacing: normal;
    word-spacing: normal;
    font-weight: 570;
    font-style: italic;
    color:white;
}
form, h2{
    color:white;
}